<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
    <p>Hi Everyone, I am  Varun Chhabra and a full-time student who is pursuing Computer Programming Diploma at Seneca College </p>
          <p>I came to Canada at the age of 18 for my further undergrad studies in April 2022 a year back.</p>
          <p>Morethan studies I am also interested in sports such as Badminton. Moreover, I also represented Markham Campus in Intercollege Badmintonship Tounamnet in Fall 2022.</p>
          <p>I strongly beleive that If you beleive you can nothing is impossible in life I am strongly Inspired by the quote which was written in The Alchemist By Paulo Coelho "When you want something all the universe conspires in helping you to achieve it".</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
          <p>More is comming Stay Tuned!</p>
  </aside>
</div>